@import './fonts';
@import './variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #212424;
  color: #e1e1e1;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: .4em;
}

ul {
  list-style: none;
}
